h3 {
  font-family: 'Saira Condensed', sans-serif;
}

label {
  font: 14px system-ui !important;
}

md-input-container {
  width: 100%;
}

.slider {
  label {
    min-width: 70px;
    margin-right: 10px;
  }
}


md-slider {
  min-width: 250px;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}
